:root {
  --color-primary: rgba(229, 84, 115, 0.8) --color-headings: #272727;
  /*100%*/
  --color-primary-text: #E55473;
  /*100%*/
  --color-secondary-text: #272727;
  /*60%*/
  /* --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px; */

}

html {
  /* 62.5% of 16px = 10px . hence 1rem = 10px*/
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 1.8rem;
  line-height: 1.5
    /*1.5times of the font size*/
}

h1,
h2,
h3 {
  color: var(--color-headings);
  /* margin-bottom: 1rem; */
  line-height: 1.1;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

.btn {
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  outline: 0;
  margin: 1rem 0;
  padding: 2rem 2vw;
  text-align: center;
  /* text-transform: uppercase; */
  white-space: nowrap;
  background: rgba(229, 84, 115, 0.8)
}

/* header */

.web-head {
  display: flex;
  /* background: var(--color-primary); */
  background: rgba(229, 84, 115, 0.1);
  padding: 0 24rem;
  padding-top: 5rem;
  justify-content: space-between;

}

.header_inner_details {
  max-width: 70.8rem;
  max-height: 50.6rem;
}

.header_inner_details>p {
  max-width: 63.4rem;
}

.header-pic {
  float: right;
  max-width: 63.5rem;
  max-height: 80rem;
}

/* flowers shocase */

.flowersDescription {
  margin: 0 auto;
  max-width: 59.4rem;
  text-align: center;
}

.flowersShowcase {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin: 0 24rem;
  padding-top: 5rem;
}

/* .flowers-pictures {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin: 0 24rem;
} */

.feature_flowers {
  height: 60.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50% 50% 0% 0% / 35% 35% 50% 50%;


}

.flowers>.flowersCaption {
  display: flex;
  justify-content: space-around;
  padding-top: 3.7rem;
  margin: 0 24rem;
  text-decoration: underline;
  font-weight: 700;

}


.ff1 {
  background: rgba(167, 33, 98, .15);
}

.ff1>img {
  width: 31rem;
  height: 42.8rem;
}

.ff2 {
  background: rgba(5, 151, 160, .15)
}

.ff2>img {
  width: 37rem;
  height: 47rem;
}

.ff3 {
  background: rgba(71, 125, 17, .15);
}

.ff3>img {
  width: 31.4rem;
  height: 47.1rem;
}