#alert {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color: #528b29;
    padding: 1rem;
    border-radius: .25rem;
    background-color: #beef9b;
}
#alert.active{
    display: block;
}

.option-item >li{
    list-style-type: lower-alpha;
}

.question-item.correct{
    color: green;
}
.question-item.incorrect{
    color:red;
}