.options{
    list-style-type: lower-alpha;
}
.alert{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: greenyellow;
    padding: 1rem;
    border-radius: .55rem;
    color: green;
}
.active{
    display: block;
    
}
.question-item.correct{
    color: green;
}
.question-item.incorrect{
    color: red;
}
